<div class="navbar bg-secondary">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-2xl" href="/">ISP 2023</a>
  </div>
  <div class="flex-none hidden md:inline-flex text-xl font-semibold"><days-left></days-left></div>
  <div class="flex-none gap-2">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <user-data field="photoUrl"></user-data>
        </div>
      </label>
      <ul tabindex="0" class="mt-3 p-2 shadow menu menu-sm dropdown-content bg-secondary rounded-box w-52">
        <li><a href="/timeline">Timeline</a></li>
        <li><a href="/booklist">Book List</a></li>
        <li><a href="/test-series-announcement">Test Series</a></li>
        <li><signin-menu></signin-menu></li>
      </ul>
    </div>
  </div>
</div>
<div class="bg-secondary block md:hidden text-center text-xl font-semibold py-2"><days-left></days-left></div>
<app-login></app-login>